body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* NAVBAR */
.navbar {
    background-color:#cde2ed;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
   font-weight: 1000;
    color: #004080;
    
}

.nav-links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* HERO */
.hero {
   /* background: linear-gradient(to right, #3498db, #6dd5fa);*/
height: 60vh; 
    width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), 
                      url("https://images.pexels.com/photos/2305098/pexels-photo-2305098.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Centers the text inside the hero */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background-color: white;
    color: #3498db;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* ABOUT */
.about {
    background: white;
    padding: 40px;
    text-align: center;
}

.about h2 {
    color: #2c3e50;
}


/* HOW IT WORKS */
.how-it-works {
  
    padding: 20px 40px;
    text-align: center;
     background-color:#cde2ed;
}

.how-it-works h2 {
    margin-bottom: 40px;
    color: #2c3e50;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.step {
    width: 220px;
    padding: 30px;
    border-radius: 10px;
    background: #f2f2f2;
    transition: transform 0.3s ease;
     border: 2px solid #dcdcdc;
}

.step:hover {
    transform: translateY(-8px);
}

.step span {
    display: inline-block;
    background: #3498db;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-weight: bold;
    margin-bottom: 15px;
}

/* WHY CHOOSE US */
.why-choose {
    
    padding: 60px 80px;
    
    height: 40vh; 
    width: 91.6%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), 
                      url("https://images.pexels.com/photos/7972963/pexels-photo-7972963.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.why-choose h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #b3c4d5;
}

.why-content {
    max-width: 900px;
    margin: auto;
}

.why-text {
    margin-bottom: 30px;
    padding-left: 15px;
    border-left: 4px solid #3498db;
}

.why-text h4 {
    margin-bottom: 8px;
    color: #b3c4d5;
}

.why-text p {
color: #b3c4d5;
    line-height: 1.6;
}


/* FOOTER */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 12px;
}


.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #004080;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #3498db;
}

/* Role dropdown */
.login-box select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #fff;
}

.login-box select:focus {
    border-color: #4e54c8;
    outline: none;
}





/*admin dashboard*/
.dashboard {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
   background-color:#b0d1e3;
    min-height: 89vh;
    padding: 10px;
}

.menu {
    margin-bottom: 10px;
}

.menu-title {
    color: white;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    background: #0059b3;
    border-radius: 4px;
}

.menu-title:hover {
    background: #3498db;
}

/* SUB MENU */
.submenu {
    display: none;
    padding-left: 10px;
}

.submenu a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
}

.submenu a:hover {
    background: #2c8ad6;
    border-radius: 4px;
}

/* SHOW submenu on hover */
.menu:hover .submenu {
    display: block;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 30px;
}

/*admin dashboard closed*/



/* Section title */
.section-title {
    color: #004080;
    margin-bottom: 20px;
    font-size: 26px;
}

/* EVENTS TABLE */
.events-table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 6px;
    overflow: hidden;
}

.events-table th {
    background-color: #0059b3;
    color: white;
    padding: 20px;
    text-align:left;
    font-size: 18px;
}

.events-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.events-table tr:hover {
    background-color: #f2f8ff;
}

/* APPLY BUTTON */
.apply-btn {
    padding: 8px 18px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    
}

.apply-btn:hover {
    background-color: #218838;
}




/* ================= STICKY NAVBAR ================= */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #d9edf7;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================= DASHBOARD LAYOUT ================= */
.dashboard {
    display: flex;
    min-height: calc(100vh - 70px);
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background-color: #bcdff1;
    padding: 20px;
}

.side-title {
    margin-bottom: 20px;
    font-size: 18px;
}

.side-btn {
    display: block;
    background-color: #0b5ed7;
    color: white;
    padding: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}

.side-btn:hover {
    background-color: #084298;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 30px;
    background-color: #ffffff;
}



